<table class="table">
    {% for data in products %}
    <tr>
        <td rowspan="2">
            <div class="img-search">
                <img src="{{ absolute_url(asset('picture/content/' ~ data['product'].pictureFirst.name))}}" alt="Card image cap" />
            </div>
        </td>
        <td>
            <a href="{{ path('product.information', {slug: data["product"].slug,id_product: data["product"].id}) }}">
                <h6> {{ data['product'].title }} </h6>
            </a>
        </td>
        <td>
            <h6>{{ data['product'].price }} € </h6>
        </td>
    </tr>
    <tr>
        <td>
            {{ data['product'].category.name }}
        </td>
        <td>
            <div class="btn-group">
                <form action="{{ path('basket.update') }}" method="POST">
                <input type="hidden" name="idProduct" value="{{ data['product'].id }}">
                <input type="hidden" name="idUser" value="{{ app.User.id | default(null) }}">
                <input type="hidden" name="quantity" class="form-control w-25" min="1" max="{{data['product'].quantity}}" value="1">
                <button type="submit" class="btn btn-sm btn-outline-secondary">Ajouter au Panier</button>
                </form>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>