{% extends 'admin/index.html.twig' %}

{% block title %}Editer {{title}}{% endblock %}

{% block body %}
    <h1>Editer {{title}} :</h1>
    {{ form_start(form)}}
        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
