{% extends 'base.html.twig' %}
{% block title %}Mes Cartes de Paiement :{% endblock %}

{% block body %}
    {% if error is defined %}
        <div class="alert alert-warning text-center" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <h1>Mes Cartes de Paiement :</h1>
    <div class="row d-flex justify-content-between">
    {% for blueCard in cards %}
        <div class="card p-2 col-sm-6 col-md-4 text-center">
            <h5>{{blueCard.firstName}}
            {{blueCard.lastName}}</h5>
            <div>{{ constant('App\\Entity\\BlueCard::TYPE')[blueCard.type] }}</div>
            <div>
                {# {% for i in 1..(blueCard.cardNumber|length - 4) %}
                {{'X'}}
                {% endfor %} #}
                {{blueCard.cardNumber}}
            </div>
            <h6>{{"expire le " ~ blueCard.dateExpiration|date("m/Y")}}</h6>
            <div class="d-flex flex-wrap justify-content-center">
                <a href="{{ path('user.profile.editercard', {card: blueCard.id}) }}" class="btn btn-primary w-25 m-1">Editer</a>
                <a href="{{ path('user.profile.deletecard', {card: blueCard.id}) }}" class="btn btn-danger w-25 m-1">Delete</a>
            </div>
        </div>
    {% endfor %}
        <div class="card p-2 col-sm-6 col-md-4 text-center d-flex justify-content-center">
            <a href="{{ path('user.profile.addcard')}}">
                <h3>Ajouter une Carte de Paiement</h3>
            </a>
        </div>     
</div>
{% endblock %}
